body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    border-bottom: 1px solid black;
}


header div{
    background-color: rgb(234, 231, 231);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

footer{
    background-color: rgb(230, 236, 230);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

figure img{
    width: 180px;
    height: 170px;
}

section experience{
    display: grid;
    

}