body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    border-bottom: 2px solid black;
}
main section h2{
    padding: 8px;
    border-radius: 20px;
    border: 1px solid rgb(123, 118, 118);

}

header div{
    background-color: rgb(211, 224, 211);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

footer{
    background-color: rgb(205, 219, 205);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

figure img{
    width: 180px;
    height: 170px;
}

button{
    background-color: rgb(135, 155, 100);
    color: white;
    padding: 2px 10px;
    font-size: smaller;
}
button:hover{
    background-color: rgb(100, 125, 105);
}

main h2{
    background-color: rgb(221, 240, 221);
}

form{
    font-size: large;
}

span{
    font-size: 18px;
    font-weight: 600;
}
